
* {
  font-family: 'Times New Roman', Times, serif;
}


.table-wrapper {
  margin: 20px;
  
}

.ant-table-thead > tr > th {
  background-color: #f0f2f5;
  font-weight: bold;
  text-align: center;
  padding: 12px;
}

.ant-table-tbody > tr > td {
  text-align: center;
  padding: 10px;
}

/* Form styling */
form {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form .ant-form-item-label {
  font-weight: bold;
}

.with-margin {
  margin-left: 10px;
}

/* Media Queries */


@media (max-width: 992px) {
  .table-wrapper {
    margin: 15px;
  }

  .ant-table-thead > tr > th {
    font-size: 14px;
    padding: 10px;
  }

  .ant-table-tbody > tr > td {
    font-size: 12px;
    padding: 8px;
  }

  form {
    padding: 15px;
  }

  form .ant-form-item-label {
    font-size: 14px;
  }

  .with-margin {
    margin-left: 8px;
  }
}


@media (max-width: 576px) {
  .table-wrapper {
    margin: 10px;
  }

  .ant-table-thead > tr > th {
    font-size: 12px;
    padding: 8px;
  }

  .ant-table-tbody > tr > td {
    font-size: 10px;
    padding: 6px;
  }

  form {
    padding: 10px;
    box-shadow: none;
  }

  form .ant-form-item-label {
    font-size: 12px;
  }

  .with-margin {
    margin-left: 5px;
  }
}





.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.button-container .ant-btn {
  width: 90%; 
}
